* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: url('img/beautiful-scenery-pathway-forest-with-trees-covered-with-frost_181624-42376.jpeg');
    background-size: cover;
}

p {
    margin-bottom: 1em;
}

p::first-letter {
    margin-left: 1em;
}

.blocks .name p::first-letter {
    margin-left: 0;
}

.content {
    max-width: 80%;
    margin: 0 auto;
}

header {
    background-color: black;
    height: auto;
    width: 100%;
}

header .nav{
    display: flex;
    width: 90%;
    height: 60px;
    align-items: center;
    justify-content: space-around;
}

header .nav li {
    color: aliceblue;
    font-family: 'Montserrat';
    text-transform: uppercase;
    list-style: none;
    flex-direction: row;
}

header .nav li a{
    text-decoration: none;
    color: aliceblue;
}

.main-page {
    padding-bottom: 22vh;
    padding-top: 25vh;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.abot-me-link:hover {
    cursor: pointer;
}

.about-me-text {
    display: none;
}

.about-me-text.active {
    display: block;
}

.skills-text {
    display: none;
    cursor: pointer;
}

.skills-text.active {
    display: block;
}

.blocks {
    height: auto;
    position: relative;
    backdrop-filter: blur(50px);
    margin: 0 auto;
    max-width: 500px;
    padding: 60px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: 'Montserrat';
    border-radius: 20px;
    transition: height 1s;
}


@media screen and (max-width: 768px){
    .blocks {
        position: relative;
        backdrop-filter: blur(50px);
        margin: 0 auto;
        max-width: 80%;
        padding: 20px;
        color: aliceblue;
        display: flex;
        flex-direction: column;
        gap: 30px;
        font-family: 'Montserrat';
        border-radius: 20px;
    }
}

@media screen and (max-width: 480px){
    .blocks {
        font-size: .9rem;
    }
}