* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content {
    max-width: 80%;
    margin: 0 auto;
}

header {
    background-color: black;
    height: 70px;
    width: 100vw;
}

.f_page {
    background-color: black;
    height: 100vh;
    width: 100vw;
    position: relative;
    background: linear-gradient(to right, #000000, #00000007), url('img/workplace-with-headphones-laptop-evening-copy-space Large.jpeg'); 
    background-size: cover;
}

.f_s {
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 40%;
    left: 10%;
    animation-name: example;
    animation-duration: 6s;
}

@keyframes example {
    from {opacity: 0;}
    to {opacity: 1;}
}

.f_s p {
    margin-top: 20px;
}

h1 {
    font-weight: 600;
    font-size: 50px;
    cursor: pointer;
    text-transform: uppercase;
}

header ul {
    display: flex;
    color: aliceblue;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

header ul li {
    list-style: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: .7em;
}

header ul li:hover {
    color: rgb(26, 134, 249);
    cursor: pointer;
}

#abmd {
    width: 300px;
    height: 600px;
    color: aliceblue;
    font-family: 'Montserrat';
    font-size: 0.9em;
    position: absolute;
    top: 20%;
    right: 30%;
    display: none;
    animation-name: disp;
    animation-duration: 3s;
}

#abmd p {
    margin-bottom: 20px;
}

@keyframes disp {
    from {opacity: 0;}
    to {opacity: 1;}
}